nembo/nembopratiche/trunk/conf/risorse/livecycle/schemas/ammissioneFinanziamento.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xfa="http://www.adobe.com/2003/xfa" xmlns:wmh="http://www.wmhelp.com/2003/eGenerator" elementFormDefault="qualified">
  <xs:element name="Domanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Global"/>
        <xs:element ref="Header"/>
		<xs:element ref="SezioneTestoConfigurato1"/>
		<xs:element ref="SezioneTestoConfigurato2"/>
		<xs:element ref="SezioneTestoConfigurato3"/>
		<xs:element ref="SezioneTestoConfigurato4"/>
		<xs:element ref="SezioneTestoConfigurato5"/>
		<xs:element ref="SezioneTestoConfigurato6"/>
		<xs:element ref="QuadroInterventi"/>
		<xs:element ref="RiquadroFirma"/>
		<xs:element ref="FLetteraDocumentiRichiesti"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Global">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Bozza"/>
		<xs:element ref="IsVariante"/>
		<xs:element ref="IsAmmib"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bozza" type="xs:boolean"/>
  <xs:element name="IsVariante" type="xs:boolean"/>
  <xs:element name="IsAmmib"  type="xs:boolean"/>
  <xs:element name="Visibility" type="xs:boolean"/>

  <xs:element name="Header">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LogoSinistro"/>
        <xs:element ref="LogoCentrale"/>
        <xs:element ref="LogoDestro"/>
        <xs:element ref="Titolo1"/>
        <xs:element ref="Titolo2"/>
        <xs:element ref="Titolo3"/>
        <xs:element ref="DatiAzienda"/>
        <xs:element ref="RiferimentiDomanda"/>
        <xs:element ref="Oggetto"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoSinistro" type="xs:base64Binary"/>
  <xs:element name="LogoCentrale" type="xs:base64Binary"/>
  <xs:element name="LogoDestro" type="xs:base64Binary"/>
  <xs:element name="Titolo1" type="xs:string"/>
  <xs:element name="Titolo2" type="xs:string"/>
  <xs:element name="Titolo3" type="xs:string"/>

  <xs:element name="DatiAzienda">
    <xs:complexType>
      <xs:sequence>
		<xs:element ref="Denominazione"/>
		<xs:element ref="Indirizzo"/>
		<xs:element ref="Comune"/>
		<xs:element ref="CUAA"/>
		<xs:element ref="PEC"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Denominazione" type="xs:string"/>
  <xs:element name="Indirizzo" type="xs:string"/>
  <xs:element name="Comune" type="xs:string"/>
  <xs:element name="CUAA" type="xs:string"/>
  <xs:element name="PEC" type="xs:string"/>

  <xs:element name="RiferimentiDomanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="NumeroDomanda"/>
        <xs:element ref="DataPresentazione"/>
        <xs:element ref="Protocollo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumeroDomanda" type="xs:string"/>
  <xs:element name="DataPresentazione" type="xs:string"/>
  <xs:element name="Protocollo" type="xs:string"/>

  <xs:element name="Oggetto">
    <xs:complexType>
      <xs:sequence>
		<xs:element ref="Bando"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bando" type="xs:string"/>

  <xs:element name="SezioneTestoConfigurato1">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RigaTestoConfigurato1" maxOccurs="unbounded"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RigaTestoConfigurato1">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TestoConfigurato1"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestoConfigurato1" type="xs:string"/>

  <xs:element name="SezioneTestoConfigurato2">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RigaTestoConfigurato2" maxOccurs="unbounded"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RigaTestoConfigurato2">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TestoConfigurato2"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestoConfigurato2" type="xs:string"/>

  <xs:element name="SezioneTestoConfigurato3">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RigaTestoConfigurato3" maxOccurs="unbounded"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RigaTestoConfigurato3">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TestoConfigurato3"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestoConfigurato3" type="xs:string"/>

  <xs:element name="SezioneTestoConfigurato4">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RigaTestoConfigurato4" maxOccurs="unbounded"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RigaTestoConfigurato4">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TestoConfigurato4"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestoConfigurato4" type="xs:string"/>

  <xs:element name="SezioneTestoConfigurato5">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RigaTestoConfigurato5" maxOccurs="unbounded"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RigaTestoConfigurato5">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TestoConfigurato5"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestoConfigurato5" type="xs:string"/>

  <xs:element name="SezioneTestoConfigurato6">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RigaTestoConfigurato6" maxOccurs="unbounded"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RigaTestoConfigurato6">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TestoConfigurato6"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestoConfigurato6" type="xs:string"/>

  <!-- QUADRO INTERVENTI  -->
  <xs:element name="QuadroInterventi">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Visibility"/>
        <xs:element ref="Interventi"/>
        <xs:element ref="TotaliInterventi"/>
		<xs:element ref="Localizzazione"/>
		<xs:element ref="FlagBeneficiario"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlagBeneficiario" type="xs:boolean"/>
  
  <xs:element name="Interventi">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Intervento" maxOccurs="unbounded"/>
	 </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Intervento">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Numero"/>
        <xs:element ref="TipoIntervento"/>
		<xs:element ref="DescrizioneIntervento"/>
		<xs:element ref="CUAA_Beneficiario"/>
        <xs:element ref="SpesaPreventivata"/>
		<xs:element ref="SpesaAmmessa"/>
		<xs:element ref="PercentualeContributo"/>
        <xs:element ref="ImportoContributo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Numero" type="xs:string"/>
  <xs:element name="TipoIntervento" type="xs:string"/>
  <xs:element name="DescrizioneIntervento" type="xs:string"/>
  <xs:element name="SpesaPreventivata" type="xs:string"/>
  <xs:element name="SpesaAmmessa" type="xs:string"/>
  <xs:element name="PercentualeContributo" type="xs:string"/>
  <xs:element name="ImportoContributo" type="xs:string"/>
  <xs:element name="CUAA_Beneficiario" type="xs:string"/>

  <xs:element name="TotaliInterventi">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TotaleSpesaPreventivata"/>
        <xs:element ref="TotaleSpesaAmmessa"/>
        <xs:element ref="TotaleImportoContributo"/>
	 </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotaleSpesaPreventivata" type="xs:string"/>
  <xs:element name="TotaleSpesaAmmessa" type="xs:string"/>
  <xs:element name="TotaleImportoContributo" type="xs:string"/>

  <xs:element name="Localizzazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ElencoParticelleInt" maxOccurs="unbounded"/>
		<xs:element ref="Visibility"/>
		<xs:element ref="TipoLocalizzazione"/>
	 </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElencoParticelleInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DatiParticellaInt" maxOccurs="unbounded"/>
	 </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DatiParticellaInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Numero"/>
        <xs:element ref="DescrizioneIntervento"/>
        <xs:element ref="ComuneInt"/>
        <xs:element ref="SezioneInt"/>
		<xs:element ref="FoglioInt"/>
        <xs:element ref="ParticellaInt"/>
		<xs:element ref="SubalternoInt"/>
        <xs:element ref="SupCatastaleInt"/>
		<xs:element ref="DescDestinazioneProduttivaInt"/>
        <xs:element ref="SupUtilizzataInt"/>
        <xs:element ref="SupImpegnoInt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoLocalizzazione" type="xs:string"/>
  <xs:element name="ComuneInt" type="xs:string"/>
  <xs:element name="SezioneInt" type="xs:string"/>
  <xs:element name="FoglioInt" type="xs:string"/>
  <xs:element name="ParticellaInt" type="xs:string"/>
  <xs:element name="SubalternoInt" type="xs:string"/>
  <xs:element name="SupCatastaleInt" type="xs:string"/>
  <xs:element name="DescDestinazioneProduttivaInt" type="xs:string"/>
  <xs:element name="SupUtilizzataInt" type="xs:string"/>
  <xs:element name="SupImpegnoInt" type="xs:string"/>

  <xs:element name="RiquadroFirma">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DataFirma"/>
        <xs:element ref="FunzionarioIstruttore"/>
        <xs:element ref="FunzionarioGradoSuperiore"/>
		<xs:element ref="ResponsabileProcedimento"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataFirma" type="xs:string"/>
  <xs:element name="FunzionarioIstruttore" type="xs:string"/>
  <xs:element name="FunzionarioGradoSuperiore" type="xs:string"/>
  <xs:element name="ResponsabileProcedimento" type="xs:string"/>
  
   
  
  <xs:element name="FLetteraDocumentiRichiesti">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="HeaderSezioni"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="HeaderSezioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="LogoCentrale"/>
        <xs:element ref="Titolo1"/>
        <xs:element ref="Titolo2"/>
        <xs:element ref="Titolo3"/>
        <xs:element ref="SezA"/>
        <xs:element ref="SezB"/>
        <xs:element ref="SezC"/>
		<xs:element ref="SezD"/>
		<xs:element ref="SezE"/>
		<xs:element ref="SezF"/>
		<xs:element ref="SezG"/>
		<xs:element ref="SezH"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoCentrale" type="xs:base64Binary"/>
  <xs:element name="Titolo1" type="xs:string"/>
  <xs:element name="Titolo2" type="xs:string"/>
  <xs:element name="Titolo3" type="xs:string"/>

  <xs:element name="SezA">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TabSezA"/>
        <xs:element ref="VisibilityA"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisibilityA" type="xs:boolean"/>
  <xs:element name="TabSezA">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="HeaderRowA"/>
			<xs:element ref="RigaSezA" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
    
  <xs:element name="HeaderRowA">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="CodiceSezA"/>
			<xs:element ref="DescSezA"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="CodiceSezA" type="xs:string"/>
  <xs:element name="DescSezA" type="xs:string"/>
  
  <xs:element name="RigaSezA">
    <xs:complexType>
      <xs:sequence>
		<xs:element ref="DocA"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocA" type="xs:string"/>

  <xs:element name="SezB">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TabSezB"/>
        <xs:element ref="VisibilityB"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisibilityB" type="xs:boolean"/>
  <xs:element name="TabSezB">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="HeaderRowB"/>
			<xs:element ref="RigaSezB" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
  
  <xs:element name="HeaderRowB">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="CodiceSezB"/>
			<xs:element ref="DescSezB"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="CodiceSezB" type="xs:string"/>
  <xs:element name="DescSezB" type="xs:string"/>  
	
  <xs:element name="RigaSezB">
    <xs:complexType>
      <xs:sequence>
		<xs:element ref="DocB"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocB" type="xs:string"/>
  
    <xs:element name="SezC">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TabSezC"/>
        <xs:element ref="VisibilityC"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisibilityC" type="xs:boolean"/>
  <xs:element name="TabSezC">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="HeaderRowC"/>
			<xs:element ref="RigaSezC" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
  
  <xs:element name="HeaderRowC">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="CodiceSezC"/>
			<xs:element ref="DescSezC"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="CodiceSezC" type="xs:string"/>
  <xs:element name="DescSezC" type="xs:string"/>  
	
  <xs:element name="RigaSezC">
    <xs:complexType>
      <xs:sequence>
		<xs:element ref="DocC"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocC" type="xs:string"/>
  
    <xs:element name="SezD">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TabSezD"/>
        <xs:element ref="VisibilityD"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisibilityD" type="xs:boolean"/>
  <xs:element name="TabSezD">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="HeaderRowD"/>
			<xs:element ref="RigaSezD" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
  
  <xs:element name="HeaderRowD">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="CodiceSezD"/>
			<xs:element ref="DescSezD"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="CodiceSezD" type="xs:string"/>
  <xs:element name="DescSezD" type="xs:string"/>  
	
  <xs:element name="RigaSezD">
    <xs:complexType>
      <xs:sequence>
		<xs:element ref="DocD"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocD" type="xs:string"/>
  
    <xs:element name="SezE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TabSezE"/>
        <xs:element ref="VisibilityE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisibilityE" type="xs:boolean"/>
  <xs:element name="TabSezE">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="HeaderRowE"/>
			<xs:element ref="RigaSezE" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
  
  <xs:element name="HeaderRowE">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="CodiceSezE"/>
			<xs:element ref="DescSezE"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="CodiceSezE" type="xs:string"/>
  <xs:element name="DescSezE" type="xs:string"/>  
	
  <xs:element name="RigaSezE">
    <xs:complexType>
      <xs:sequence>
		<xs:element ref="DocE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocE" type="xs:string"/>
  
    <xs:element name="SezF">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TabSezF"/>
        <xs:element ref="VisibilityF"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisibilityF" type="xs:boolean"/>
  <xs:element name="TabSezF">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="HeaderRowF"/>
			<xs:element ref="RigaSezF" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
  
  <xs:element name="HeaderRowF">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="CodiceSezF"/>
			<xs:element ref="DescSezF"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="CodiceSezF" type="xs:string"/>
  <xs:element name="DescSezF" type="xs:string"/>  
	
  <xs:element name="RigaSezF">
    <xs:complexType>
      <xs:sequence>
		<xs:element ref="DocF"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocF" type="xs:string"/>
  
    <xs:element name="SezG">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TabSezG"/>
        <xs:element ref="VisibilityG"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisibilityG" type="xs:boolean"/>
  <xs:element name="TabSezG">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="HeaderRowG"/>
			<xs:element ref="RigaSezG" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
  
  <xs:element name="HeaderRowG">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="CodiceSezG"/>
			<xs:element ref="DescSezG"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="CodiceSezG" type="xs:string"/>
  <xs:element name="DescSezG" type="xs:string"/>  
	
  <xs:element name="RigaSezG">
    <xs:complexType>
      <xs:sequence>
		<xs:element ref="DocG"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocG" type="xs:string"/>
  
    <xs:element name="SezH">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TabSezH"/>
        <xs:element ref="VisibilityH"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisibilityH" type="xs:boolean"/>
  <xs:element name="TabSezH">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="HeaderRowH"/>
			<xs:element ref="RigaSezH" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
  
  <xs:element name="HeaderRowH">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="CodiceSezH"/>
			<xs:element ref="DescSezH"/>
		</xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="CodiceSezH" type="xs:string"/>
  <xs:element name="DescSezH" type="xs:string"/>  
	
  <xs:element name="RigaSezH">
    <xs:complexType>
      <xs:sequence>
		<xs:element ref="DocH"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocH" type="xs:string"/>

</xs:schema>